:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #242424;
  color: white;
}

body {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}

.icon {
  filter: invert(100%);
}

.nav-bar {
  background-color: #3c3c3c;
  margin: 0%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15%;
  font-size: 1.5rem;
  justify-content: space-between;
}

#nav-bar-home-btn {
  font-family: monospace;
  display: flex;
  align-items: center;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  gap: 1.1rem;
}

#nav-bar-home-btn > h3 {
  margin: 0%;
}

#nav-bar-links {
  display: flex;
  height: 100%;
  align-items: center;
}

#nav-bar-links > a {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

#nav-bar-links > a:hover {
  opacity: 1;
  background-color: #2f2f2f;
  transition: all;
  transition-duration: 300ms;
}
