.content {
    display: grid;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner > * {
    margin: 10px;
}

#banner-btn-grp {
    display: flex;
    gap: 10px;
}

#banner-btn-grp > a {
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all;
    transition-duration: 300ms;
}

#banner-btn-grp > :first-child {
    background-color: rgb(137, 97, 189);
}

#banner-btn-grp > :first-child:hover {
    background-color: rgb(111, 57, 180);
}

#banner-btn-grp > :last-child {
    background-color: rgb(77, 77, 77);
}

#banner-btn-grp > :last-child:hover {
    background-color: rgb(53, 53, 53);
}

#banner-anime-img {
    border-radius: 20px;
    filter: drop-shadow(0 0 5em #646cffaa);
}

#banner-anime-img > img {
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

/* Stole from Fireship.io */
.wave {
    position: relative;
    bottom: 200px;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    filter: drop-shadow(0 -30px 2em #2b2a2a);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 200px;
}

.wave .shape-fill {
    fill: #321a49;
}

#testimonial {
    background-color: #321a49;
    width: 100vw;
    margin-top: 110px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#testimonial-section {
    position: relative;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial-banner > :first-child {
    font-size: 3rem;
}

#testimonial-grid {
    display: grid;
    gap: 1.5rem;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
}

#testimonial-grid > :first-child {
    background: linear-gradient(195deg, #7ed8fc, #7eb6ee, rgba(128,155,222,1));
    color: rgb(56, 56, 56);
}

#testimonial-grid > :nth-child(2) {
    grid-column: span 2;
    background: linear-gradient(135deg, #f89b5d, #efac69, rgba(230,184,116,1));
    color: rgb(56, 56, 56);
}

#testimonial-grid > :nth-child(3) {
    grid-column: span 2;
    background: linear-gradient(150deg, #9af77d, #c5f382, rgba(233,239,135,1));
    color: rgb(56, 56, 56);
}

#testimonial-grid > :last-child {
    background: linear-gradient(210deg, #e97df7, #cc6ff2, rgba(172,98,237,1));
    color: rgb(56, 56, 56);
}

.testimonial-card {
    padding: 0.8rem 2rem;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    min-height: 180px;
    transition: all;
    transition-duration: 300ms;
}

.testimonial-card:hover {
    filter: drop-shadow(0 0 1em #e4da58aa);
}

#ending-advert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #321a49;
    padding-top: 3rem;
    padding-bottom: 8rem;
    font-size: 2.6rem;
}

#ending-advert > h1 {
    margin: 0;
}

#ending-advert > a {
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all;
    transition-duration: 300ms;
    background-color: rgb(117, 204, 238);
    font-size: 2rem;
}
